@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-flow: column;
    background:url(images/bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion{
    max-width: 800px;
}

.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background-color: rgb(87, 86, 86);
    color: #fff;
    cursor: pointer;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before{
    content: '-';
}

.accordion .contentBx .content{
    position: relative;
   background: rgb(238, 166, 166);
   height: 0;
   overflow: hidden;
   transition: 0.5s;
}

.accordion .contentBx.active .content{
    height: 160px;
    padding: 10px;
}
h2{
    font-size: 50px;
    font-weight: 300;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section
{
    position:relative;
    width:100%;
    min-height:10vh;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:white;    
}
header
{
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header h3{
    left: -20;

}
header .logo
{
    height: 50px;
    position: relative;
    max-width: 50px;
}
header ul
{
    position:relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
   display: inline-block;
   font-weight:400;
   color: #333;
   margin-left: 40px;
   text-decoration: none; 
}
header ul li a:hover
{
    color: blue;
    transform: scale(1.3);
    transition-duration: 50ms;
}
header ul li a:active
{
    color: red;
}
.left
{
    display: inline-block;
    position: absolute;
    text-align: left;
    width:40%;
    padding-top: 10%;
    padding-left: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:2vw;
}
.left:hover
{
    transform: scale(1.2);
    transition-duration: 50ms;
}


